# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
android
ios
build-*.apk
build-*.aab
output/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
credentials.json
credentials/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
